#divinfo{
    position: fixed;
    top: 10%; 
    right: 1%;
    width: 250px;
    height: auto;
    background-color: rgba(120, 131, 132, 0.911);
    border-radius: 20px;
    z-index: 30;
    display: none;
}
.info{
   padding: 15px;

}
.contenedor{
    display: flex;
    flex-direction: column;
}
.agregarbtn *{
    width: 200px;
    margin-bottom: 20px;
}
.titulo{
    margin: auto;
}