.contenedor {
    width: 100%;
    min-height: 350px;
/*     max-height:max-content  */
   /*  border: 1px solid rgba(0, 0, 0, 0.5); */
  }
  
  .sidenavContent {

    width: 850px;

  }
  
  .sidenav {
    padding: 20px;
    
  }

  mat-drawer-container {
    background-color: white;
  }
  mat-drawer{
    background: linear-gradient(#0dfd99, rgba(255, 255, 255, 0));
    display: flex;
  }
  a{
    display: block;
  }

  
