<nav class="navbar navbar-dark bg-primary">
    <div class="d-flex justify-content-start ml-0">
        <button color="accent" mat-button (click)="clickMenu()" >
            <mat-icon>menu</mat-icon>Menu
          </button>
         <!--  <span class="navbar-brand mb-0 h1">Navbar</span> -->
          <a class=" navbar-brand  btn btn-primary" href="./home">Home</a>
          
    </div>    
    <div>
      <span class="navbar-brand mb-0 h1">Fundamentos de Angular</span>
    </div>
  <div>
    <span class="navbar-brand mb-0 h1">Desarrollado por : Panelo Martin</span>
    
  </div>
   
    
</nav>

