/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
  background-color: #ffffff; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.modal-backdrop {
    z-index: -1 !important;
    
  }
  
.modal{
  background-color: #1a1a1ad1;
}

.titulo h1{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  /* padding: 10px; */
  margin: 30px;
  background-color:rgba(221, 97, 200, 0.3);
  text-align: center;

}